<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;?xml version="1.0" encoding="utf-8" ?&gt;
&lt;xsl:stylesheet
	version="1.0"
	xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
&gt;

	$0

&lt;/xsl:stylesheet&gt;</string>
	<key>name</key>
	<string>XSLT stylesheet</string>
	<key>scope</key>
	<string></string>
	<key>tabTrigger</key>
	<string>xslt</string>
	<key>uuid</key>
	<string>1451A529-C6B2-4AE9-B151-94C4D13D2AD4</string>
</dict>
</plist>
