<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>{\$${1:variablename}}</string>
	<key>keyEquivalent</key>
	<string>@$</string>
	<key>name</key>
	<string>XSLT $variable</string>
	<key>scope</key>
	<string>string.quoted.double.xml, string.quoted.single.xml</string>
	<key>uuid</key>
	<string>446DF3CB-C6DD-4CBD-B013-20732F5034EC</string>
</dict>
</plist>
