<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;xsl:variable name="${1:data}" select="${2:document('$3')}" /&gt;</string>
	<key>name</key>
	<string>XSLT variable</string>
	<key>scope</key>
	<string>text.xml</string>
	<key>tabTrigger</key>
	<string>var</string>
	<key>uuid</key>
	<string>379AC200-ED32-4B43-9574-203C4E38424E</string>
</dict>
</plist>
